/* h1 */
h1{
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: Montserra , sans-serif;
}

/* paragraphs */
p{
    font-size: 1.1em;
    font-family: Manrope, sans-serif;
}


/* anchor */
a{
    color: black;
}

/* anchor,ul */
a,ul{
    font-family: Manrope,sans-serif;
    font-size: 1em;
}

/* span */
.important{
    color: #A5B4FC;
}